{%load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<title>Time Off Request</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="login-page.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

<!-- Logo Display -->
<meta name="viewport" content="width=device-width, initial-scale=1">
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="navBar()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{% url 'timeOffForm' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Time Off Request</a>
    <a href="payPeriod.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Pay</a>
    <a href="{% url 'profile' %}"  class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Profile</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="dropDown" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'timeOffForm' %}" class="w3-bar-item w3-button w3-padding-large">Time Off</a>
    <a href="payPeriod.html" class="w3-bar-item w3-button w3-padding-large">Pay</a>
    <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-padding-large">Profile</a>
  </div>
</div>

<h3>Time Off Request Reason</h3>
<select class="w3-large w3-center" name="reason" id="reason">
  <option value="sick">Sickness</option>
  <option value="injury">Injury</option>
  <option value="vacation">Vacation</option>
  <option value="emergency">Emergency</option>
  <option value="other">Other</option>
</select>
<a href="{% url 'timeOffForm' %}" class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">Submit</a>

<script>
// unhide a text entry box when other option is selected

</script>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function navBar() {
  var obj = document.getElementById("dropDown");
  if (obj.className.indexOf("w3-show") == -1) {
    obj.className += " w3-show";
  } else { 
    obj.className = obj.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>