<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Password Change </title>
    <link rel="stylesheet" href="static/register-form.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Forgot Password</div>
    <div class="content">
      
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">New Password</span>
            <input type="text" placeholder="Enter your new password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm New Password</span>
            <input type="text" placeholder="Confirm your new password" required>
          </div>
        </div>
        <br>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
        <br>
        <div class="container-signin">
                <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
            </div>
            </div>
      </form>
    </div>
  </div>

</body>
</html>