{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/calendar.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

<!-- Logo Display -->
<meta name="viewport" content="width=device-width, initial-scale=1">
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="navBar()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{% url 'timeOffForm' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Time Off</a>
    <a href="{% url '' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">LogOut</a>
    <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Profile</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="dropDown" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'timeOffForm' %}" class="w3-bar-item w3-button w3-padding-large">Time Off</a>
    <a href="{% url '' %}" class="w3-bar-item w3-button w3-padding-large">LogOut</a>
    <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-padding-large">Profile</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <img src="static/logo.png" alt="logo" class="center">
  <h1 class="w3-margin w3-jumbo"></h1>
</header>

<h1>Shifts</h1>
<table>
    <thead>
        <tr>  
            <th>Employee</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        {% for shift in shifts %}
            <tr>
                <td>{{ user.userID }}</td>
                <td>{{ shift.date }}</td>
                <td>{{ shift.start_time }}</td>
                <td>{{ shift.end_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Calendar goes here -->
<html>
  <form method="post" action="{% url 'shiftCreate' %}">
    
    {% csrf_token %}
    {{ form.as_p }}
 
    <button type="submit">Create Shift</button>
</form>



  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>



<script>
// Used to toggle the menu on small screens when clicking on the menu button
function navBar() {
  var obj = document.getElementById("dropDown");
  if (obj.className.indexOf("w3-show") == -1) {
    obj.className += " w3-show";
  } else { 
    obj.className = obj.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>
