<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> PlanIt Registration </title>
    <link rel="stylesheet" href="static/register-form.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      
      <br />

      <form method="POST" autocomplete="off">
        {% csrf_token %} {{form.as_p}}
  
        <input class="btn btn-primary" type="submit" value="Submit" />
  
        <br />
        <br />
  
        </div>
        <br>
        <div class="container-signin">
                <p>Already have an account?  <a href="{% url 'login' %}">Sign in</a></p>
            </div>
            </div>
      </form>
    </div>
  </div>

</body>
</html>